{% if COMMENT_ON %}
    <hr/>
    <link rel="stylesheet" href="https://disqus-api.laolilin.com/src/iDisqus.min.css" />
    <script src="https://disqus-api.laolilin.com/src/iDisqus.min.js"></script>
    <section class="comments" id="comments">
        <h2>{{ _('Comments') }}</h2>
        <script>
        var disq = new iDisqus('comments', {
            forum: 'fooleap',
            api: 'https://disqus-api.laolilin.com',
            site: 'https://blog.laolilin.com',
            mode: 1,
            timeout: 3000,
            init: true
        });
        </script>
        </section>
        <noscript>请开启 JavaScript 以查看评论。</noscript>
    </section>
{% endif %}
